<!DOCTYPE html>
<html>
    <head>
        <%- include ("../../partials/head") %>
        <link type="text/css" rel="stylesheet" href="/public/css/prints.css" />
        <script src="../public/js/workrequests.js"></script>
        <style>
            li strong {
                display: block;
                width: 35%;
                float: left;
            }
            .block-p {
                display: block;
                width: 60%;
                float: right;
                margin-bottom: 0px;
            }
        </style>
    </head>

    <body>
        <%- include ("../../partials/header") %>
        <div class="container" style="margin-bottom: 100px;">
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header">
                            <h4 class="mb-0">Request Details</h4>
                        </div>
                        <div>
                            <ul class="list-group list-group-flush patron-card">
                                <li class="list-group-item">
                                    <strong>Patron: </strong>
                                    <p class="block-p">
                                        <%=request.patron.fname%>
                                        <%=request.patron.lname%>
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <strong>
                                        Email:
                                    </strong>
                                    <p class="block-p">
                                        <a
                                            href="mailto:<%=request.patron.email%>"
                                            ><%=request.patron.email%></a
                                        >
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <strong>Date Submitted: </strong>
                                    <p class="block-p"><%=request.dateSubmitted%></p>
                                </li>
                                <li class="list-group-item">
                                    <strong>Request Type: </strong>
                                    <p class="block-p"><%=request.type%></p>
                                </li>
                                <li class="list-group-item">
                                    <strong>Request Details: </strong>
                                    <p class="block-p"><%=request.notes%></p>
                                </li>
                                <li class="list-group-item">
                                    <strong>Assigned Maker: </strong>
                                    <p class="block-p">

										<%if (request.maker == "Unassigned") {%>
										<div class="dropdown">
											<a
												href="#"
												class="dropdown-toggle text-wrap block-p"
												data-toggle="dropdown"
											>
												<%if (request.requestingMaker !=
												"Unassigned") {%>
												<%=request.requestingMaker%> (requested)
												<%} else {%> <%=request.maker%> <%}%>
											</a>
											<div
												class="dropdown-menu p-4"
												style="width: 300px;"
											>
												<p>
													Request to be assigned to this work
													order?
												</p>
												<button
													class="btn btn-primary btn-block request-workorder"
													submissionID="<%=request._id%>"
												>
													Request
												</button>
											</div>
										</div>

                                		<%} else {%> <%=request.maker%> <%}%>
									</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="shadow card">
                        <div class="card-header">
                            <h4 class="mb-0">Files</h4>
                        </div>
                        <div class="card-body">
                            <%request.files.forEach(function(fileName) {%>
                            <a
                                href="#"
                                class="download-by-name"
                                filename="<%=fileName%>"
                                ><%=fileName.substring(fileName.indexOf('/CLE/') +
                                19)%></a
                            >
                            <br />
                            <%})%>
                        </div>
                    </div>

                    <div class="shadow card mt-4">
                        <div class="card-header">
                            <h4 class="mb-0">Materials</h4>
                        </div>
                        <div>
                            <ol class="list-group list-group-flush">
                                <%if (request.materialDescriptions.length == 0)
                                {%>
                                <li class="list-group-item">
                                    No materials have been recieved yet.
                                </li>
                                <%} else {%> <%for (var i = 0; i <
                                request.materialDescriptions.length; i++) {%>
                                <li class="list-group-item">
                                    <strong>Material: </strong>
                                    <p class="block-p"><%=request.materialDescriptions[i]%></p>
                                    <strong>Location: </strong>
                                    <p class="block-p"><%=request.materialLocations[i]%></p>
                                    <strong>Recieved on: </strong>
                                    <p class="block-p"><%=request.intakeDates[i]%></p>
                                    <strong>Recieved by: </strong>
                                    <p class="block-p"><%=request.intakeTechs[i]%></p>
                                </li>
                                <%}%> <%}%>
                                <li class="list-group-item">
                                    <a
                                        href="#"
                                        class="material-intake-btn"
                                        submissionID="<%=request._id%>"
                                        >Intake materials now?</a
                                    >
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Material Intake Form</h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="POST">
                            <div class="form-group">
                                <label for="materials"
                                    >What materials are you taking in?</label
                                >
                                <textarea
                                    class="form-control"
                                    id="materials"
                                    rows="3"
                                    name="materials"
                                ></textarea>
                            </div>

                            <div class="form-group">
                                <label for="location"
                                    >Where are you putting them?</label
                                >
                                <textarea
                                    class="form-control"
                                    id="location"
                                    rows="3"
                                    name="location"
                                ></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%- include ("../../partials/footer") %>
    </body>
</html>
