<!DOCTYPE html>
<html>
    <head>
        <%- include ("../../partials/head") %>
        <link type="text/css" rel="stylesheet" href="/public/css/prints.css" />
        <script src="../public/js/workrequests.js"></script>
        <style>
            li strong {
                display: block;
                width: 35%;
                float: left;
            }
            li p {
                display: block;
                width: 60%;
                float: right;
                margin-bottom: 0px;
            }
        </style>
    </head>

    <body>
        <%- include ("../../partials/header") %>
        <div class="container" style="margin-bottom: 100px;">
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header">
                            <h4>Request Details</h4>
                        </div>
                        <div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Patron: </strong>
                                    <p>
                                        <%=request.patron.fname%>
                                        <%=request.patron.lname%>
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <strong>Date Submitted: </strong>
                                    <p><%=request.dateSubmitted%></p>
                                </li>
                                <li class="list-group-item">
                                    <strong>Request Type: </strong>
                                    <p><%=request.type%></p>
                                </li>
                                <li class="list-group-item">
                                    <strong>Request Details: </strong>
                                    <p><%=request.notes%></p>
                                </li>
                                <li class="list-group-item">
                                    <strong>Assigned Maker: </strong>
                                    <p><%=request.maker%></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="shadow card">
                        <div class="card-header">
                            <h4>Files</h4>
                        </div>
                        <div class="card-body">
                            <%request.files.forEach(function(fileName) {%>
                            <%=fileName%> <%})%>
                        </div>
                    </div>

                    <div class="shadow card mt-4">
                        <div class="card-header">
                            <h4>Materials</h4>
                        </div>
                        <div>
                            <ol class="list-group list-group-flush">
                                <%if (request.materialDescriptions.length == 0)
                                {%>
                                <li class="list-group-item">
                                    No materials have been recieved yet.
                                </li>
                                <%} else {%> <%for (var i = 0; i <
                                request.materialDescriptions.length; i++) {%>
                                <li class="list-group-item">
                                    <%=request.materialDescriptions[i]%>
                                    <%=request.materialLocations[i]%>
                                    <%=request.intakeDates[i]%>
                                </li>
                                <%}%> <%}%>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include ("../../partials/footer") %>
    </body>
</html>
