<!-- @format -->
<!-- @format -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width" />

        <!-- For development, pass document through inliner 
        <link rel="stylesheet" href="simple.css" data-inline />-->

        <style type="text/css">
            /** @format */

            * {
                margin: 0;
                padding: 0;
                font-size: 100%;
                font-family: "Avenir Next", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
                line-height: 1.65;
            }

            img {
                max-width: 100%;
                margin: 0 auto;
                display: block;
            }

            body,
            .body-wrap {
                width: 100% !important;
                height: 100%;
                background: #f8f8f8;
            }

            a {
                color: #71bc37;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .text-center {
                text-align: center;
            }

            .text-right {
                text-align: right;
            }

            .text-left {
                text-align: left;
            }

            .button {
                display: inline-block;
                color: white;
                background: #71bc37;
                border: solid #71bc37;
                border-width: 10px 20px 8px;
                font-weight: bold;
                border-radius: 4px;
            }

            .button:hover {
                text-decoration: none;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 20px;
                line-height: 1.25;
            }

            h1 {
                font-size: 32px;
            }

            h2 {
                font-size: 28px;
            }

            h3 {
                font-size: 24px;
            }

            h4 {
                font-size: 20px;
            }

            h5 {
                font-size: 16px;
            }

            p,
            ul,
            ol {
                font-size: 16px;
                margin-bottom: 20px;
            }

            th {
                color: #71bc37;
                text-align: left;
            }

            .container {
                display: block !important;
                clear: both !important;
                margin: 0 auto !important;
                max-width: 580px !important;
            }

            .container table {
                width: 100% !important;
                border-collapse: collapse;
            }

            .container .masthead {
                padding: 80px 0;
                background: #71bc37;
                color: white;
            }

            .container .masthead h1 {
                margin: 0 auto !important;
                max-width: 90%;
                text-transform: uppercase;
            }

            .container .content {
                background: white;
                color: #555;
                padding: 30px 35px;
            }

            .container .content .bold {
                font-weight: bold !important;
            }

            .nopadding p {
                margin-bottom: 3px;
            }

            .container .content.footer {
                background: none;
            }

            .container .content.footer p {
                margin-bottom: 0;
                color: #888;
                text-align: left;
                font-size: 12px;
            }

            .container .content.footer a {
                color: #888;
                text-decoration: none;
                font-weight: bold;
            }

            .container .content.footer a:hover {
                text-decoration: underline;
            }
        </style>
    </head>

    <body>
        <table class="body-wrap">
            <tr>
                <td class="container">
                    <!-- Message start -->
                    <table>
                        <tr>
                            <td align="center" class="masthead">
                                <h1>Some of your files have been approved!</h1>
                            </td>
                        </tr>
                        <tr>
                            <td class="content">
                                <h2>Hello <%= submission.patron.fname%>,</h2>

                                <p>
                                    The Spark is happy to inform you that your 3D print request has been reviewed and
                                    some of your requested files have met the guidelines for being printed.
                                    Unfortunately, one or more of your files was unable to be printed as it was
                                    submitted. You can read the review notes for each of your files below:
                                </p>

                                <h4 style="margin-bottom: 0px">These Files Were Approved:</h4>
                                <table style="table-layout: fixed">
                                    <tr class="nopadding">
                                        <th style="width: 66%">
                                            <p>File Name</p>
                                        </th>
                                        <th>
                                            <p>Weight</p>
                                        </th>
                                        <th>
                                            <p>Print Time</p>
                                        </th>
                                    </tr>
                                    <% acceptedFiles.forEach(function(file){ %>
                                    <tr>
                                        <td>
                                            <p style="margin-bottom: 0px"><strong><%= file.fileName %></strong></p>
                                        </td>
                                        <td>
                                            <p style="margin-bottom: 0px"><%= file.grams %>g</p>
                                        </td>
                                        <td>
                                            <p style="margin-bottom: 0px">
                                                <%= file.timeHours %>:<%= file.timeMinutes %>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <p>Reviewer notes: <i>"<%= file.notes %>"</i></p>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </table>

                                <h4 style="margin-bottom: 0px">These Files Were Rejected:</h4>
                                <table>
                                    <tr class="nopadding">
                                        <th style="width: 66%">
                                            <p>File Name</p>
                                        </th>
                                        <th>
                                            <p>Reviewer Notes</p>
                                        </th>
                                    </tr>
                                    <% rejectedFiles.forEach(function(file){ %>
                                    <tr>
                                        <td>
                                            <p style="margin-bottom: 0.5em"><strong><%= file.fileName %></strong></p>
                                        </td>
                                        <td>
                                            <p style="margin-bottom: 0.5em"><i>"<%= file.notes %>"</i></p>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </table>
                                <p style="margin-top: 1em; margin-bottom: 2em">
                                    Our reason for rejecting each file is detailed in the notes above. If these notes
                                    contain suggestions or instructions for correcting these files so they can be
                                    printed, you are welcome to correct any errors and resubmit these files to be
                                    printed. If you have any questions or would like to comunicate in more detail,
                                    please email us at <a href="mailto:TheSpark@unt.edu">TheSpark@unt.edu</a>
                                </p>
                                <h3>Payment</h3>
                                <p>
                                    Our payment rate is $1.00 per hour of estimated print time, so the total cost for
                                    this submission is <strong>$<%= amount %></strong>, and you can pay for this
                                    submission online at the following link. If you mentioned in the submission notes
                                    that this submission is for educational purposes, you may safely ignore this payment
                                    link; our team will request a payment waive for your submission shortly.
                                </p>
                                <p style="text-align: center"><a class="button" href="<%=url%>">Pay Online!</a></p>

                                <p>
                                    Often prints will require support, and we will confirm in the notes above whether or
                                    not your print will need support to print sucessfully. If you would like to read
                                    more about what this means, here is an overview of support for FDM 3D printing:
                                    <a
                                        href="https://www.3dhubs.com/knowledge-base/supports-3d-printing-technology-overview/#fdm"
                                        >Link!</a
                                    >
                                </p>
                                <p>
                                    Please not that we do not remove support from your prints; the support will still be
                                    attached to your files when you come to pick them up.
                                </p>
                                <p>
                                    If you have any questions, please reach out to us at
                                    <a href="mailto:TheSpark@unt.edu">TheSpark@unt.edu</a>
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="container">
                    <!-- Message start -->
                    <table
                        style="
                            font-size: 10pt;
                            color: #2a2a2a;
                            margin-top: 20px;
                            background: white;
                            border-collapse: unset !important;
                            padding: 30px;
                        "
                        cellpadding="0"
                        cellspacing="0"
                    >
                        <tbody style="vertical-align: top">
                            <tr>
                                <td
                                    colspan="3"
                                    style="
                                        border-bottom: 1px solid #008000;
                                        padding-bottom: 10px;
                                        padding-top: 0;
                                        padding-left: 0;
                                        padding-right: 0;
                                        vertical-align: top;
                                    "
                                    valign="top"
                                >
                                    <strong
                                        ><span style="font-size: 14pt; color: #008000"
                                            >The Spark Makerspace</span
                                        ></strong
                                    ><br />
                                    <span style="font-size: 10pt">University of North Texas</span>
                                </td>
                            </tr>
                            <tr>
                                <td
                                    colspan="3"
                                    style="
                                        padding-top: 10px;
                                        padding-bottom: 0;
                                        padding-left: 0;
                                        padding-right: 0;
                                        line-height: 18px;
                                        vertical-align: top;
                                    "
                                >
                                    <span
                                        >Email us any time at <a href="mailto:thespark@unt.edu">TheSpark@unt.edu</a> or
                                        call us at the numbers below:</span
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td
                                    width="66%"
                                    colspan="2"
                                    style="
                                        padding-top: 10px;
                                        padding-bottom: 0;
                                        padding-left: 0;
                                        padding-right: 0;
                                        line-height: 18px;
                                        vertical-align: top;
                                    "
                                    valign="top"
                                >
                                    <span style="font-size: 10pt"
                                        ><strong>Willis Library</strong> - Room 135<span><br /></span
                                    ></span>
                                    <span style="font-size: 10pt"
                                        ><strong>Discovery Park</strong> - Room M130<span><br /></span
                                    ></span>
                                </td>
                                <td
                                    width="33%"
                                    style="
                                        padding-top: 10px;
                                        padding-bottom: 0;
                                        padding-left: 0;
                                        padding-right: 0;
                                        line-height: 18px;
                                        vertical-align: top;
                                        text-align: end;
                                    "
                                    valign="top"
                                >
                                    <span style="font-size: 10pt"
                                        >(940) 369-5259<span><br /></span
                                    ></span>
                                    <span style="font-size: 10pt"
                                        >(940) 565-3175<span><br /></span
                                    ></span>
                                </td>
                            </tr>
                            <tr>
                                <td
                                    colspan="3"
                                    style="
                                        padding-top: 10px;
                                        padding-bottom: 0;
                                        padding-left: 0;
                                        padding-right: 0;
                                        line-height: 18px;
                                        vertical-align: top;
                                    "
                                >
                                    <span style="font-size: 10pt"
                                        >Please visit us at
                                        <a href="https://guides.library.unt.edu/spark"
                                            >https://guides.library.unt.edu/spark</a
                                        >
                                        for our hours.</span
                                    >
                                </td>
                            </tr>
                            <tr>
                                <td width="33%" style="padding-top: 20px">
                                    <span> <a href="https://untmakerspace.podbean.com">PodBean</a></span>
                                </td>
                                <td width="33%" style="padding-top: 20px; text-align: center">
                                    <span>Apple Podcasts</span>
                                </td>
                                <td width="33%" style="padding-top: 20px; text-align: end">
                                    <span><a href="https://blogs.library.unt.edu/spark/ ">Check out our blog!</a></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
