<!doctype html>
<html>

<head>
  <%- include ("../partials/head") %>
  <link type="text/css" rel="stylesheet" href="../../public/css/prints.css">
  <script src="../public/js/prints.js"></script>
</head>

<body>
  <%- include ("../partials/header") %>
  <div class="container ">
    <%- include ("../partials/printNav") %>
    <div class="fake-tab">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width:18%">Name</th>
            <th scope="col">Submitted</th>
            <th scope="col">Complete</th>
            <th scope="col" style="width:30%">Files</th>
            <th scope="col" style=" width:15%; text-align: end;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if (dbdata.length == 0) { %>
          <tr>
            <td colspan="5" class="none">No new submissions!</td>
          </tr>
          <% } %>
          <%dbdata.slice().reverse().forEach(function (item) {%>
            
          <tr>
            <td>
              <%= item.patron.fname %> <%= item.patron.lname %> <br>
            </td>
            <td><%=item.dateSubmitted%></td>
            <td style="text-align: left; padding-top: 10px; padding-bottom: 10px">
              <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top"
                title='<% if (!item.allFilesReviewed) { %> Please review all files first! <%} else {%>Send to Patron<% } %>'>
                <button type="button" style="border: none; background: transparent;" class="submit-btn" id='<%= item._id%>'
                  <% if (!item.allFilesReviewed) { %> disabled style="pointer-events: none;" <%}%> >
                  <svg class="bi bi-person-check" width="25px" height="25px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                    <rect width="3" height="3" x="2" y="9" rx="1"/>
                    <path d="M1 5h14v2H1z"/>
                  </svg>
                </button>
              </span>
            </td>
            <td colspan="2" class="no-padding">
              <table class="plain" style="width:100%">
                <% item.files.forEach(function (file) {%> <tr>
            <td style="width:99%">
              <a class="preview-btn" id='<%= file._id%>'
                href="#"><%=file.fileName.substring(72)%></a>
              &nbsp;
              <%- include ("../partials/flags", {file:file, isAll: false}) %>
            </td>
            <td style="white-space: nowrap; text-align: right;">
              <%- include ("../partials/fileBurger", {file:file}) %>
            </td>
          </tr>
          <%})%>
      </table>
      </td>
      </tr>
      <%})%>
      </tbody>
      </table>

    </div>
  </div>
</body>

</html>