<!doctype html>
<html>

<head>
  <%- include ("../partials/head") %>
  <link type="text/css" rel="stylesheet" href="../../public/css/prints.css">
  <script src="../public/js/prints.js"></script>
</head>

<body>
  <%- include ("../partials/header") %>
  <div class="container ">
    <%- include ("../partials/printNav") %>
    <div class="fake-tab">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Finalize</th>
            <th scope="col">Submitted</th>
            <th scope="col">Files</th>
            <th scope="col" style="text-align: end;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <%dbdata.slice().reverse().forEach(function (item) {%>
          <tr>
            <td>
              <%= item.patron.fname %> <%= item.patron.lname %> <br>
            </td>
            <td>
              <button type="button" class="btn btn-primary submit-btn" id='<%= item._id%>'
                <% if (!item.allFilesReviewed) { %> disabled <%}%> >Send</button>
            </td>
            <td><%=item.dateSubmitted%></td> <td colspan="2" class="no-padding">
                <table class="plain" style="width:100%">
                  <% item.files.forEach(function (file) {%>
                  <tr>
                    <td style="width:99%">
                      <%=file.fileName.substring(file.fileName.lastIndexOf("%$%$%") + 5)%>
                      &nbsp;
                      <% if (file.isReviewed) { %>
                      <% if (file.isRejected) { %>
                      <span class="badge badge-danger">Rejected</span>
                      <% } else { %>
                      <span class="badge badge-success">Accepted</span>
                      <% } %>
                      <% } else { %>
                      <span class="badge badge-primary">Unreviewed</span>
                      <% } %>
                      <% if (file.isPendingDelete) { %>
                        <span class="badge badge-danger">Pending Delete</span>
                      <% } %>
                    </td>
                    <td style="white-space: nowrap;">
                      <button type="button" class="btn btn-success download-btn" id='<%= file.fileName%>'>D</button>
                      <button type="button" class="btn btn-primary preview-btn" id='<%= file._id%>'>P</button>
                      <button type="button" class="btn btn-danger delete-btn" id='<%= file._id%>' isSuperAdmin='<%= isSuperAdmin%>'>Delete</button>
                    </td>
                  </tr>
                  <%})%>
                </table>
            </td>
          </tr>
          <%})%>
        </tbody>
      </table>
    </div>

  </div>
</body>

</html>