<!doctype html>
<html>

<head>
  <%- include ("../partials/head") %>
  <link type="text/css" rel="stylesheet" href="../../public/css/prints.css">
  <script src="../public/js/prints.js"></script>
</head>

<body>
  <%- include ("../partials/header") %>
  <div class="container ">
    <%- include ("../partials/printNav") %>
    <div class="fake-tab">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Submitted</th>
            <th scope="col">Complete</th>
            <th scope="col">Files</th>
            <th scope="col" style="text-align: end;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if (dbdata.length == 0) { %>
            <tr>
              <td colspan="5" class="none">No new submissions!</td>
            </tr>
          <% } %>
          <%dbdata.slice().reverse().forEach(function (item) {%>
          <tr>
            <td>
              <%= item.patron.fname %> <%= item.patron.lname %> <br>
            </td>
            <td><%=item.dateSubmitted%></td>
            <td>
              <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top"
                title='<% if (!item.allFilesReviewed) { %> Please review all files first! <%} else {%>Send to Patron<% } %>'>
                <button type="button" class="btn btn-primary submit-btn" id='<%= item._id%>'
                  <% if (!item.allFilesReviewed) { %> disabled style="pointer-events: none;" <%}%> >
                  Complete
                </button>
              </span>
            </td>
            <td colspan="2" class="no-padding">
              <table class="plain" style="width:100%">
                <% item.files.forEach(function (file) {%> 
                <tr>
                  <td style="width:99%">
                    <a class="preview-btn" id='<%= file._id%>' href="#"><%=file.fileName.substring(file.fileName.lastIndexOf("sparkdelim") + 10)%></a>
                    &nbsp;
                    <%- include ("../partials/flags", {file:file}) %>
                  </td>
                  <td style="white-space: nowrap; text-align: right;">
                    <%- include ("../partials/fileBurger", {file:file}) %>
                  </td>
                </tr>
                <%})%>
              </table>
            </td>
          </tr>
          <%})%>
        </tbody>
      </table>

    </div>
  </div>
</body>

</html>