<!doctype html>
<html>

<head>
  <%- include ("../partials/head") %>
  <link type="text/css" rel="stylesheet" href="../../public/css/prints.css">
  <script src="../public/js/prints.js"></script>
</head>

<body>
  <%- include ("../partials/header") %>
  <div class="container ">
    <%- include ("../partials/printNav") %>
    <div class="fake-tab">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Submitted</th>
            <th scope="col">Reviewed</th>
            <th scope="col">Files</th>
          </tr>
        </thead>
        <tbody>
          <% if (dbdata.length == 0) { %>
            <tr>
              <td colspan="5" class="none">No submissions pending payment!</td>
            </tr>
          <% } %>
          <%dbdata.slice().reverse().forEach(function (item) {%>
          <tr>
            <td><%= item.patron.fname %> <%= item.patron.lname %></td>
            <td><%=item.dateSubmitted%></td>
            <td><%=item.datePaymentRequested%></td>

            <td class="no-padding">
              <table class="plain">
                <% item.files.forEach(function (file) {%>
                <% if (file.isRejected == false) { %>
                <tr>
                  <td>
                    <%- include ("../partials/downloadbutton", {file:file}) %>
                    &nbsp;
                    <%- include ("../partials/previewbutton", {file:file}) %>
                    &nbsp;
                    <%=file.fileName.substring(file.fileName.lastIndexOf("sparkdelim") + 10)%>
                    &nbsp;
                    <%- include ("../partials/flags", {file:file}) %>
                  </td>
                  <td style="white-space: nowrap; text-align: right;">
                    <%- include ("../partials/waivebuttons", {file:file}) %>
                  </td>
                </tr>
                <% } %>
                <%})%>
              </table>
            </td>
          </tr>
          <%})%>
        </tbody>
      </table>
    </div>

  </div>
</body>

</html>