<!doctype html>
<html>

<head>
  <%- include ("../partials/head") %>
  <style>
    .container {
      margin-top: 80px;
    }

    .plain tbody tr,
    .plain tbody tr:hover,
    .plain tbody td {
      background-color: transparent !important;
      border: none;
    }

    .no-padding {
      padding: 0px !important;
    }

    .fake-tab {
      border: 1px solid #ddd;
      border-top: none;
      margin-top: -1px;
    }
  </style>
  <script src="../public/js/prints.js"></script>
</head>

<body>
  <%- include ("../partials/header") %>
  <div class="container ">
    <%- include ("../partials/printNav") %>
    <div class="fake-tab">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Submitted</th>
            <th scope="col">Reviewed</th>
            <th scope="col">Files</th>
          </tr>
        </thead>
        <tbody>
          <%dbdata.slice().reverse().forEach(function (item) {%>
          <tr>
            <td>
              <%= item.patron.fname %> <%= item.patron.lname %> <br>
            </td>
            <td><%=item.dateSubmitted%></td>
            <td><%=item.datePaymentRequested%></td>
            <td class="no-padding">
                <table class="plain" style="width:100%">
                  <% item.files.forEach(function (file) {%>
                    <% if (file.isRejected == false) { %>
                        <tr>
                            <td>
                              <%=file.fileName.substring(file.fileName.lastIndexOf("%$%$%") + 5)%>
                            </td>
                          </tr>
                    <% } %>
                  <%})%>
                </table>
            </td>
          </tr>
          <%})%>
        </tbody>
      </table>
    </div>

  </div>
</body>

</html>