<!doctype html>
<html>

<head>
    <%- include ("../partials/head") %>
    <link type="text/css" rel="stylesheet" href="../../public/css/prints.css">
    <script src="../public/js/prints.js"></script>
</head>

<body>
    <%- include ("../partials/header") %>
    <div class="container ">
        <%- include ("../partials/printNav") %>
        <div class="fake-tab">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Submitted</th>
                        <th scope="col">Reviewed</th>
                        <th scope="col">Paid</th>
                        <th scope="col" style="width:5%">Printed</th>
                        <th scope="col" style="width:30%">Files</th>
                        <th scope="col" style=" width:15%; text-align: end;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (dbdata.length == 0) { %>
                    <tr>
                        <td colspan="7" class="none">No submissions ready for pickup!</td>
                    </tr>
                    <% } %>
                    <%dbdata.slice().reverse().forEach(function (item) {%>
                    <tr>
                        <td>
                            <%= item.patron.fname %> <%= item.patron.lname %> <br>
                        </td>
                        <td><%=item.dateSubmitted%></td>
                        <td><%=item.datePaymentRequested%></td>
                        <td><%=item.datePaid%></td>
                        <td colspan="3" class="no-padding" >
                            <table class="plain" style="width: 100%;">
                                <% item.files.forEach(function (file) {%>
                                    <% if (file.isRejected == false && file.isPrinted) { %>
                                        <% if (location != "all") { %>
                                            <% if (file.pickupLocation == location) { %>
                                                <tr>
                                                    <td style="white-space: nowrap;"><%=file.datePrinted%></td>
                                                    <td style="width:99%">
                                                        <a class="preview-btn" id='<%= file._id%>'
                                                            href="#"><%=file.fileName.substring(file.fileName.lastIndexOf("sparkdelim") + 10)%></a>
                                                        &nbsp;
                                                        <%- include ("../partials/flags", {file:file, isAll: false}) %>
                                                    </td>
                                                    <td style="white-space: nowrap; text-align: right;">
                                                        <%- include ("../partials/fileBurger", {file:file, item:item}) %>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        <%} else { %>
                                            <tr>
                                                <td style="white-space: nowrap;"><%=file.datePrinted%></td>
                                                <td style="width:99%">
                                                    <a class="preview-btn" id='<%= file._id%>'
                                                        href="#"><%=file.fileName.substring(file.fileName.lastIndexOf("sparkdelim") + 10)%></a>
                                                    &nbsp;
                                                    <%- include ("../partials/flags", {file:file, isAll: false}) %>
                                                </td>
                                                <td style="white-space: nowrap; text-align: right;">
                                                    <%- include ("../partials/markPickedUp", {file:file}) %>
                                                    <%- include ("../partials/fileBurger", {file:file, item:item}) %>
                                                </td>
                                            </tr>
                                        <%} %>
                                    <%} %>
                                <%})%>
                            </table>
                        </td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>