<!doctype html>
<html>

<head>
    <%- include ("../partials/head") %>
    <style>
        .container {
            margin-top: 80px;
            margin-bottom: 80px;
        }
    </style>
    <script>
        $(document).ready(function () {
            //initial form to show is an accepted ptint
            $(".accepted-controls").show();
            $(".accepted-controls input").prop('required', true);


            //setting up the download button to woro
            $('.download-btn').on('click', function () {
                var fileLocation = $(this).attr('location');
                console.log('click');
                window.location = '/prints/download?fileID=' + fileLocation;
            });


            //which set of form items to show based on accepted or rejected print
            $("#decision").change(function () {
                var requestType = $(this).children("option:selected").val();
                if (requestType == 'accepted') {
                    $(".accepted-controls").show();
                    $(".accepted-controls input").prop('required', true);
                } else {
                    $(".accepted-controls").hide();
                    $(".accepted-controls input").prop('required', false);
                }
                //may change if other request types need extra options
            });

            $('.custom-file-input').on('change', function () {
                let fileName = $(this).val().split('\\').pop();
                $(this).siblings('.custom-file-label').addClass("selected").html(fileName);
            });

            $('.change-btn').on('click', function () {
                let fileID = $(this).attr('fileID');
                $.ajax({
                    type: 'POST',
                    url: '/prints/changeLocation',
                    data: {
                        "fileID": fileID
                    },
                    dataType: 'json'
                }).done(function () {
                    console.log('done');
                    location.reload();
                });
            })
        });
    </script>
</head>

<body>
    <%- include ("../partials/header") %>
    <div class="container">

        <p>
            <button type="button" class="btn btn-success download-btn" location='<%= print.fileName%>'>Download</button>
            <button type="button" class="btn btn-primary review-btn" data-toggle="collapse" data-target="#collapser"
                aria-expanded="false" aria-controls="collapser">Review</button>
        </p>

        <div class="collapse" id="collapser">
            <div class="card card-body">
                <form action="/prints/singleReview" method="post" enctype="multipart/form-data">
                    <div class="hiddenExtras" style="display: none;">
                        <input type="text" name="fileID" value='<%= print._id%>'>
                    </div>

                    <div class="form-group">
                        <label>Decision</label>
                        <select class="form-control" id="decision" name="decision" required>
                            <option value="accepted">Accepted</option>
                            <option value="rejected">Rejected</option>
                        </select>
                    </div>

                    <div class="accepted-controls">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-3">
                                    <label class="col-form-label">Estimated time</label>
                                </div>
                                <div class="col-9">
                                    <div class="form-row">
                                        <div class="col-4">
                                            <input type="number" class="form-control" name="hours" required>
                                        </div>
                                        <div class="col-2">
                                            <input type="text" readonly class="form-control-plaintext" value="hours">
                                        </div>
                                        <div class="col-4">
                                            <input type="number" class="form-control" name="minutes" required>
                                        </div>
                                        <div class="col-2">
                                            <input type="text" readonly class="form-control-plaintext" value="minutes">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-3">
                                    <label class="col-form-label">Estimated material</label>
                                </div>
                                <div class="col-9">
                                    <div class="form-row">
                                        <div class="col-10">
                                            <input type="number" class="form-control" name="grams" required>
                                        </div>
                                        <div class="col-2">
                                            <div class="col">
                                                <input type="text" readonly class="form-control-plaintext"
                                                    value="grams">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label>Print Location</label>
                            <select class="form-control" id="locationSelector" name="printLocation" required>
                                <option value="Willis Library">Willis Library</option>
                                <option value="Discovery Park">Discovery Park</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>GCODE Details</label>
                            <div class="custom-file" id="customFile" lang="es">
                                <input name="uploadedFile" type="file" class="custom-file-input" id="exampleInputFile"
                                    aria-describedby="fileHelp" required>
                                <label class="custom-file-label" for="exampleInputFile">
                                    Upload GCODE
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="printer" placeholder="Sliced for printer..."
                                required>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="material" placeholder="Sliced for material..."
                                required>
                        </div>

                        <div class="form-group">
                            <label for="technotes">Technician Notes</label>
                            <textarea name="technotes" class="form-control" rows="2"></textarea>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="patronNotes">Notes to Patron</label>
                        <textarea name="patronNotes" class="form-control" rows="2"></textarea>
                    </div>


                    <button type="submit" class="btn btn-success submit-btn">Submit</button>
                </form>
            </div>
        </div>

        <p>
            <table class="table table-bordered table-sm">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>File name</td>
                        <td><%=print.fileName.substring(print.fileName.lastIndexOf("%$%$%") + 5)%></td>
                    </tr>
                    <tr>
                        <td>Submitted on</td>
                        <td><%=print.dateSubmitted%></td>
                    </tr>
                    <tr>
                        <td>Material</td>
                        <td><%=print.material%></td>
                    </tr>
                    <tr>
                        <td>Infill</td>
                        <td><%=print.infill%></td>
                    </tr>
                    <tr>
                        <td>Color</td>
                        <td><%=print.color%></td>
                    </tr>
                    <tr>
                        <td>Copies</td>
                        <td><%=print.copies%></td>
                    </tr>
                    <tr>
                        <td>Notes</td>
                        <td><%=print.notes%></td>
                    </tr>
                    <tr>
                        <td>Print location</td>
                        <td>
                            <%=print.printLocation%>
                            <button type="button" class="btn warning-btn change-btn" fileID='<%=print._id%>'>Change
                                Location</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Pickup location</td>
                        <td><%=print.pickupLocation%></td>
                    </tr>
                    <tr>
                        <td>Reviewed on</td>
                        <td>
                            <%if (print.isReviewed) {%>
                            <%=print.dateReviewed%>
                            <%} else {%>
                            Not reviewed
                            <%}%>
                        </td>
                    </tr>


                    <% if(print.isReviewed) {%>
                    <tr>
                        <td>Status</td>
                        <td>
                            <%if (print.isReviewed) {%>
                            <% if (print.isRejected) {%>
                            Rejected
                            <%} else { %>
                            Accepted
                            <%}%>
                            <%} else {%>
                            Not reviewed
                            <%}%>
                        </td>
                    </tr>
                    <%}%>
                            <% if (print.isReviewed && !print.isRejected) {%>
                    <tr>
                        <td>Print time estimate</td>
                        <td>
                            <%if (print.isReviewed) {%>
                            <%= print.timeHours%> hours, <%= print.timeMinutes%> minutes
                            <%} else {%>
                            Not reviewed
                            <%}%>
                        </td>
                    </tr>
                    <tr>
                        <td>Print weight estimate</td>
                        <td>
                            <%if (print.isReviewed) {%>
                            <%= print.grams%> grams
                            <%} else {%>
                            Not reviewed
                            <%}%>
                        </td>
                    </tr>
                    <tr>
                        <td>GCODE file</td>
                        <td>
                            <%if (print.isReviewed) {%>
                            <button type="button" class="btn btn-primary download-btn"
                                location="<%=print.gcodeName%>">Download GCODE</button>
                            <%} else {%>
                            Not reviewed
                            <%}%>
                        </td>
                    </tr>
                    <tr>
                        <td>Sliced for printer</td>
                        <td><%=print.slicedPrinter%></td>
                    </tr>
                    <tr>
                        <td>Sliced for material</td>
                        <td><%=print.slicedMaterial%></td>
                    </tr>
                    <%}%>
                    


                    <tr>
                        <td>Paid on</td>
                        <td>
                            <%if (print.isPaid) {%>
                    <%=print.datePaid%>
                    <%} else {%>
                    Not paid
                    <%}%>
                        </td>
                    </tr>
                    <tr>
                        <td>Picked up on</td>
                        <td>
                            <%if (print.isPickedUp) {%>
                    <%=print.datePickedUp%>
                    <%} else {%>
                    Not picked up
                    <%}%>
                        </td>
                    </tr>
                </tbody>
            </table>
        </p>
        

    </div>
</body>

</html>