<!doctype html>
<html>

<head>
    <%- include ("../partials/head") %>
    
</head>

<body>
    <%- include ("../partials/header") %>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">File Name</th>
            <th scope="col">Material</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
        <%dbdata.forEach(function (item) {%>
        <% item.files.forEach(function (file) {%>
          <tr>
            <th scope="row"><%= item.patron.fname %> <%= item.patron.lname %></th>
            <td><%= item.patron.email %></td>
            <td><%= file.fileName %></td>
            <td><%= file.material %></td>
            <td>
              <button type="button" class="btn btn-success download-btn" id='<%= file.fileName%>'>Download</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger remove-btn" id='<%= file._id %>'>Delete</button>
            </td>
          </tr>
          <%})%>
        <%})%>
        </tbody>
      </table>
      <script src="js/prints.js"></script>
</body>

</html>