<!doctype html>
<html>

<head>
  <%- include ("../partials/head") %>
  <link type="text/css" rel="stylesheet" href="../../public/css/prints.css">
  <script src="../public/js/prints.js"></script>
</head>

<body>
  <%- include ("../partials/header") %>
  <div class="container ">
    <%- include ("../partials/printNav") %>
    <div class="fake-tab">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Submitted</th>
            <th scope="col">Reviewed</th>
            <th scope="col">Files</th>
          </tr>
        </thead>
        <tbody>
          <%dbdata.slice().reverse().forEach(function (item) {%>
          <tr>
            <td>
              <%= item.patron.fname %> <%= item.patron.lname %> <br>
            </td>
            <td><%=item.dateSubmitted%></td>
            <td><%=item.datePaymentRequested%></td>
            <td class="no-padding">
              <table class="plain">
                <% item.files.forEach(function (file) {%>
                <% if (file.isRejected == true) { %>
                <tr>
                  <td>
                    <%=file.fileName.substring(file.fileName.lastIndexOf("%$%$%") + 5)%>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger delete-btn" id='<%= file._id%>'>D</button>
                    <button type="button" class="btn btn-primary preview-btn" id='<%= file._id%>'>P</button>


                  </td>
                </tr>
                <% } %>
                <%})%>
              </table>
            </td>
          </tr>
          <%})%>
        </tbody>
      </table>
    </div>

  </div>
</body>

</html>