<!doctype html>
<html>

<head>
    <%- include ("../partials/head") %>
    <link type="text/css" rel="stylesheet" href="/public/css/prints.css">
    <script src="../public/js/workrequests.js"></script>
</head>

<body>
    <%- include ("../partials/header") %>
    <div class="container ">
        <ol class="list-group">
            <li class="list-group-item"> 
                <div class="row">
                    <div class="col"><strong>Name</strong></div>
                    <div class="col"><strong>Type</strong></div>
                    <div class="col"><strong>Maker</strong></div>
                    <div class="col"><strong>Submitted</strong></div>
                    <div class="col-5"><strong>Notes</strong></div>
                    <div class="col text-right"><strong>Actions</strong></div>
                </div>
            </li>
            
            <%dbdata.slice().reverse().forEach(function (item, i) {%>
                <li class="list-group-item"> 
                    <div class="row">
                        <div class="col"><%= item.patron.fname %> <%= item.patron.lname %></div>
                        <div class="col"><%=item.type%></div>
                        <div class="col"><%=item.maker%></div>
                        <div class="col"><%=item.dateSubmitted%></div>
                        <div class="col-5">
                            <p class="text-muted font-italic">
                                <%=item.notes%>
                            </p>
                            <%if (item.files.length > 0) {%>
                                <%item.files.forEach(function (fileName) {%>
                                    <a href="#" class="download-by-name" filename="<%=fileName%>"><%=fileName.substring(fileName.indexOf('/15') + 11)%></a> <br>
                                <%})%>
                            <%}%>
                        </div>
                        <div class="col text-right">
                            <a href="/workorders/details?id=<%=item._id%>">Details</a>
                            <%- include ("../partials/workOrders/overflow", {item: item}) %>
                        </div>
                    </div>
                </li>
            <%});%>
            </ol>

    </div>
</body>

</html>