<!doctype html>
<html>

<head>
    <%- include ("../partials/head") %>
    <link type="text/css" rel="stylesheet" href="/public/css/prints.css">
    <script src="../public/js/workrequests.js"></script>
</head>

<body>
    <%- include ("../partials/header") %>
    <div class="container ">
        <div class="fake-tab">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Maker</th>
                        <th scope="col">Actions</th>
                        <th scope="col">Submitted</th>
                        <th scope="col">Files</th>
                        <th scope="col" style="text-align: end;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <%dbdata.slice().reverse().forEach(function (item, i) {%>
                    <tr>
                        <td>
                            <%= item.patron.fname %> <%= item.patron.lname %> <br>
                        </td>
                        <td><%=item.type%></td>
                        <td>
                            <%= item.maker %>
                        </td>
                        <td>
                            <button class="btn btn-primary claim-btn" id='<%= item._id%>'>Claim</button>
                            <button class="btn btn-success complete-btn" id='<%= item._id%>'>Complete</button>
                            <button class="btn btn-danger remove-btn" id='<%= item._id%>'>Delete</button>
                        </td>
                        <td><%=item.dateSubmitted%></td>
                        <td>
                            <a class="btn btn-primary" data-toggle="collapse" href="#request<%= i + 1%>" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Link with href
                              </a>
                        </td>
                    </tr>
                    <tr class="collapse" id="<%=request<%= i+1%>">
                        <td colspan="7">
                            <div class="card card-body">
                                <%=item.notes%>
                            </div>
                        </td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>