<!DOCTYPE html>
<html>
    <head>
        <%- include ("../../partials/head") %>
        <script src="/public/js/cameraBookings.js"></script>
    </head>
    <body>
        <%- include ("../../partials/header") %>
        <div class="container mt-5" style="margin-bottom: 100px;">
            <div class="row">
                <div class="col-8">
                    <div class="card shadow">
                        <div class="card-header">
                            <h4 class="mb-0">Working</h4>
                        </div>
                        <div class="row">
                            <div class="col">
                                <ul class="list-group list-group-flush">
                                    <%workingCameras.forEach(function(camera)
                                    {%>
                                    <li class="py-1 list-group-item">
                                        <%=camera%>
                                    </li>
                                    <%})%>
                                </ul>
                            </div>

                            <div class="col">
                                <ul class="list-group list-group-flush">
                                    <%workingLenses.forEach(function(lens) {%>
                                    <li class="py-1 list-group-item">
                                        <%=lens%>
                                    </li>
                                    <%})%>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mt-4">
                        <div class="card-header">
                            <h4 class="mb-0">Broken</h4>
                        </div>

                        <div class="row">
                            <div class="col">
                                <ul class="list-group list-group-flush">
                                    <%brokenCameras.forEach(function(camera) {%>
                                    <li class="list-group-item">
                                        <%=camera%>
                                        <span
                                            ><svg
                                                width="1em"
                                                height="1em"
                                                viewBox="0 0 16 16"
                                                class="bi bi-emoji-smile"
                                                fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <path
                                                    fill-rule="evenodd"
                                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                                                />
                                                <path
                                                    fill-rule="evenodd"
                                                    d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z"
                                                />
                                                <path
                                                    d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"
                                                /></svg
                                        ></span>
                                    </li>
                                    <%})%>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="list-group list-group-flush">
                                    <%brokenLenses.forEach(function(lens) {%>
                                    <li class="list-group-item"><%=lens%></li>
                                    <%})%>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header">
                            <h4 class="mb-0">Booking Editor</h4>
                        </div>
                        <div class="card-body">
                            <form
                                action="/bookings/manualbooking"
                                method="POST"
                            >
                                <div class="form-group">
                                    <label for="availableCameras">
                                        Camera
                                    </label>
                                    <select
                                        class="form-control"
                                        id="availableCameras"
                                        name="camera"
                                        required
                                    >
                                        <%workingCameras.forEach(function
                                        (camera) { %>
                                        <option><%=camera%></option>
                                        <%})%> <%brokenCameras.forEach(function
                                        (camera) { %>
                                        <option><%=camera%></option>
                                        <%})%>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="availableCameras">
                                        Lens 1
                                    </label>
                                    <select
                                        class="form-control"
                                        id="availableLenses1"
                                        name="lens1"
                                        required
                                    >
                                        <%workingLenses.forEach(function (lens)
                                        { %>
                                        <option><%=lens%></option>
                                        <%})%> <%brokenLenses.forEach(function
                                        (lens) { %>
                                        <option><%=lens%></option>
                                        <%})%>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="availableCameras">
                                        Lens 2
                                    </label>
                                    <select
                                        class="form-control"
                                        id="availableLenses2"
                                        name="lens2"
                                        required
                                    >
                                        <%workingLenses.forEach(function (lens)
                                        { %>
                                        <option><%=lens%></option>
                                        <%})%> <%brokenLenses.forEach(function
                                        (lens) { %>
                                        <option><%=lens%></option>
                                        <%})%>
                                        <option>None</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Start Date</label>
                                    <input
                                        type="date"
                                        id="startDate"
                                        name="startDate"
                                        class="form-control"
                                        required
                                    />
                                </div>

                                <div class="form-group">
                                    <label>End Date</label>
                                    <input
                                        type="date"
                                        id="endDate"
                                        name="endDate"
                                        class="form-control"
                                        required
                                    />
                                </div>

                                <button
                                    class="btn btn-block btn-success"
                                    type="submit"
                                >
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog">
            <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Mark Object as Broken?</h3>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            This will remove all bookings which contain this
                            item, and this action cannot be undone. Are you sure
                            you want to mark this item as broken?
                        </p>
                        <button class="btn btn-primary btn-lg btn-block">
                            Mark Broken
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <%- include ("../../partials/footer") %>
    </body>
</html>
