<div class="shadow alert alert-success">
    <h4>Patron Details</h4>
    <table class="table table-borderless table-sm alert-success rounded mb-0">
        <tbody>
            <tr>
                <th scope="row">Name:</th>
                <td><%=patron.fname%> <%=patron.lname%></td>
            </tr>
            <tr>
                <th scope="row">Date submitted:</th>
                <td><%=print.dateSubmitted%></td>
            </tr>
            <tr>
                <th scope="row">Email:</th>
                <td><%=patron.email%></td>
            </tr>
            <tr>
                <th scope="row">Phone:</th>
                <td><%=patron.phone%></td>
            </tr>
            <tr>
                <th scope="row">Submission type:</th>
                <td>
                    <!-- prettier-ignore -->
                    <% if (submission.isForClass) {%> 
                        Class submission 
                    <%} else {%> 
                        <% if (submission.isForDepartment) {%> 
                            Internal submission 
                        <%} else {%> 
                            Personal submission 
                        <%}%> 
                    <%}%>
                </td>
            </tr>
            <% if (submission.isForClass) {%>
            <tr>
                <th scope="row">Class Code:</th>
                <td><%=submission.classDetails.classCode%></td>
            </tr>
            <tr>
                <th scope="row">Professor:</th>
                <td><%=submission.classDetails.professor%></td>
            </tr>
            <tr>
                <th scope="row">Project type:</th>
                <td><%=submission.classDetails.projectType%></td>
            </tr>
            <!-- prettier-ignore -->
            <%} else {%> 
                <% if (submission.isForDepartment) {%>
            <tr>
                <th scope="row">Class Code:</th>
                <td><%=submission.internalDetails.department%></td>
            </tr>
            <tr>
                <th scope="row">Professor:</th>
                <td><%=submission.internalDetails.project%></td>
            </tr>
            <!-- prettier-ignore -->
            <%} else {%> 
                Personal submission 
            <%}%> 
            <%}%>
        </tbody>
    </table>
</div>
