<div class="shadow alert <%if (!print.isPickedUp) {%> alert-danger <%} else {%> alert-primary <%}%>">
    <h4>Contact Record</h4>
    <p class="mb-0">
        <strong>Initial Contact:</strong> <%=print.datePrinted%> <br>
        <%if (!print.isPickedUp) {%>
            <strong>1st Warning:</strong> <%=print.dateOfFirstWarning%> <br>
            <strong>Final Warning:</strong> <%=print.dateOfSecondWarning%> <br>
            <strong>Reposess Print:</strong> <%=print.dateOfConfiscation%>
        <%} else {%>
            <strong>Picked Up On:</strong> <%=print.datePickedUp%>
        <%}%>
        
    </p>
</div>