<!-- prettier-ignore -->
<%var unprinted  = (file.copiesData.unprinted?file.copiesData.unprinted:0)%>
<%var printing  = (file.copiesData.printing?file.copiesData.printing:0)%>
<%var inTransit  = (file.copiesData.inTransit?file.copiesData.inTransit:0)%>
<%var completed  = (file.copiesData.completed?file.copiesData.completed:0)%>
<%var pickedUp  = (file.copiesData.pickedUp?file.copiesData.pickedUp:0)%>
<td style="width: 10%">
    <div class="d-flex flex-row flex-wrap" style="margin: -1px">
        <%for (var i = 0; i < unprinted; i++) {%>
        <span
            class="badge font-weight-normal alert-secondary"
            style="margin: 1px"
            ><%=i+1+completed+printing+inTransit+pickedUp%></span
        >
        <%}%>
    </div>
</td>
<td style="width: 10%">
    <div class="d-flex flex-row flex-wrap" style="margin: -1px">
        <%for (var i = 0; i < printing; i++) {%>
        <span class="badge font-weight-normal alert-primary" style="margin: 1px"
            ><%=i+1+completed+inTransit+pickedUp%></span
        >
        <%}%>
    </div>
</td>

<td style="width: 10%">
    <div class="d-flex flex-row flex-wrap" style="margin: -1px">
        <%for (var i = 0; i < inTransit; i++) {%>
        <span class="badge font-weight-normal alert-warning" style="margin: 1px"
            ><%=i+1+completed+pickedUp%></span
        >
        <%}%>
    </div>
</td>
<td style="width: 10%">
    <div class="d-flex flex-row flex-wrap" style="margin: -1px">
        <%for (var i = 0; i < completed; i++) {%>
        <span class="badge font-weight-normal alert-success" style="margin: 1px"
            ><%=i+1+pickedUp%></span
        >
        <%}%>
    </div>
</td>

<td style="width: 10%">
    <div class="d-flex flex-row flex-wrap" style="margin: -1px">
        <%for (var i = 0; i < pickedUp; i++) {%>
        <span class="badge font-weight-normal alert-light" style="margin: 1px"
            ><%=i+1%></span
        >
        <%}%>
    </div>
</td>
