<div class="card shadow mb-3">
    <div class="card-header">
        <h4 class="mb-0">Print Completion</h4>
    </div>
    <div class="card-body">
        <h5>Notify Patron Ready for Pickup</h5>
        <p>
            Check the status of all copies first! If you're ready to tell the
            patron to come pick up their prints, hit the button below.
        </p>
        <%if (print.copiesData.unprinted > 0) {%>
        <div class="alert alert-danger" id="unprinted" role="alert">
            Not all copies have been printed yet!
        </div>
        <%}%>
        <div class="alert alert-danger" id="bad-filament">
            You must enter the initial and final weights for each filament roll
            used in this print!
        </div>
        <!-- prettier-ignore -->
        <%if (print.copiesData.unprinted <= 0 && print.copiesData.inTransit > 0) {%>
        <div class="alert alert-warning" role="alert">
            Not all copies have arrived at the pickup location yet! Are you sure
            you would like to notify the patron?
        </div>
        <%}%>
    </div>
    <ul class="list-group list-group-flush border-top">
        <li class="list-group-item">
            <div class="row">
                <div class="col-4">Roll ID</div>
                <div class="col">Start Weight</div>
                <div class="col">End Weight</div>
                <div class="col-2">Save</div>
            </div>
        </li>
        <%for (var thisRoll of print.filaments) {%>
        <li class="list-group-item">
            <form action="/prints/editFilament" method="POST">
                <input
                    type="hidden"
                    name="filamentID"
                    value="<%=thisRoll._id%>"
                />
                <input type="hidden" name="fileID" value="<%=print._id%>" />
                <div class="row">
                    <div class="col-4">
                        <input
                            type="text"
                            name="rollID"
                            value="<%=thisRoll.rollID%>"
                            class="form-control"
                            required
                        />
                    </div>
                    <div class="col">
                        <input
                            type="number"
                            name="startWeight"
                            value="<%=thisRoll.startWeight%>"
                            class="form-control start-weight"
                            min="100"
                            required
                        />
                    </div>
                    <div class="col">
                        <input
                            type="number"
                            name="endWeight"
                            value="<%=thisRoll.endWeight%>"
                            class="form-control"
                            min="0"
                            required
                        />
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </li>
        <%}%>
    </ul>
</div>

<script>
    var startWeights = document.getElementsByClassName("start-weight");
    var needsFilament = false;
    for (var thisStartWeight of startWeights) {
        if (thisStartWeight.value < 100) {
            needsFilament = true;
        }
    }
    if (needsFilament) {
        document.getElementById("bad-filament").style.display = "block";
    } else {
        document.getElementById("bad-filament").style.display = "none";
    }
</script>
