<style>
    .legend {
        width: 0.8em;
        height: 0.8em;
    }
</style>

<div class="card shadow mb-3">
    <div class="card-body">
        <h3>Printing Status</h3>
        <div class="row">
            <div class="col">
                <p class="mb-0">
                    <span
                        class="bg-success d-inline-block legend rounded mr-1"
                    ></span
                    ><strong>Completed</strong>
                </p>
                <p>
                    <%=print.printingData.copiesPrinted || 0%>/<%=print.copies%>
                    copies completed
                </p>
            </div>
            <div class="col">
                <p class="mb-0">
                    <span
                        class="bg-warning d-inline-block legend rounded mr-1"
                    ></span
                    ><strong>Printing</strong>
                </p>
                <p>
                    <%=print.printingData.copiesPrinting ||
                    0%>/<%=print.copies%> copies printing
                </p>
            </div>
            <div class="col">
                <p class="mb-0">
                    <span
                        class="bg-secondary d-inline-block legend rounded mr-1"
                    ></span
                    ><strong>Remaining</strong>
                </p>
                <p>
                    <%=print.copies - ((print.printingData.copiesPrinted || 0) +
                    (print.printingData.copiesPrinting ||
                    0))%>/<%=print.copies%> copies remaining
                </p>
            </div>
        </div>
        <div class="progress">
            <!-- prettier-ignore -->
            <div class="progress-bar bg-success" role="progressbar"
                style=" width: <%=( (print.printingData.copiesPrinted || 0) / parseInt(print.copies) ) * 100 %>%"
                aria-valuenow="<%=(print.printingData.copiesPrinted || 0)%>"
                aria-valuemin="0"
                aria-valuemax="<%=print.copies%>"
            ></div>
            <!-- prettier-ignore -->
            <div
                class="progress-bar bg-warning"
                role="progressbar"
                style=" width: <%=( (print.printingData.copiesPrinting || 0) / parseInt(print.copies) ) * 100%>%"
                aria-valuenow="<%=(print.printingData.copiesPrinting || 0)%>"
                aria-valuemin="0"
                aria-valuemax="<%=print.copies%>"
            ></div>
        </div>
    </div>
</div>
