<style>
    .legend {
        width: 0.8em;
        height: 0.8em;
    }
</style>

<div class="card shadow mb-3">
    <div class="card-body">
        <h3 class="mb-3">Copies Breakdown</h3>

        

        <!-- prettier-ignore -->
        <%var unprinted = print.copies -
        (print.printingData?print.printingData.copiesPrinted:0) -
        (print.printingData?print.printingData.copiesPrinting:0)%>
        <!-- prettier-ignore -->
        <%var printing  = (print.printingData?print.printingData.copiesPrinting:0)%>
        <!-- prettier-ignore -->
        <%var inTransit = print.completedCopies?print.completedCopies.filter(function(copy) { return copy.isInTransit}).length:0%>
        <!-- prettier-ignore -->
        <%var completed = print.completedCopies?print.completedCopies.filter(function(copy) { return (!copy.isInTransit && copy.timestampPickedUp < new Date("2000"))}).length:0%>
        <%var pickedUp = print.completedCopies?print.completedCopies.filter(function(copy) { return (!copy.isInTransit && copy.timestampPickedUp > new Date("1980"))}).length:0%>

        <%if (unprinted + printing == 0 && completed > 0) {%>
            <p>All copies printed!</p>
            <button
                data-toggle="modal"
                data-target="#modalPickup"
                data-backdrop="static"
                data-keyboard="false"
                data-numpickup="<%=completed%>"
                id="partialPickup"
                fileName="<%=print.realFileName%>"
                fileID="<%=print._id%>"
                class="btn btn-primary btn-block mb-3 modal-button"
            >
                Pick Up All <%=completed%>
            </button>
        <%}%>

        <table class="table table-sm table-bordered">
            <thead>
                <th style="width: 20%">Unprinted</th>
                <th style="width: 20%">Printing</th>
                <th style="width: 20%">In Transit</th>
                <th style="width: 20%">Completed</th>
                <th style="width: 20%">Picked Up</th>
            </thead>
            <tbody>
                <td>
                    <div class="d-flex flex-row flex-wrap" style="margin: -1px">
                        <%for (var i = 0; i < unprinted; i++) {%>
                        <span
                            class="badge font-weight-normal alert-secondary"
                            style="margin: 1px"
                            >Copy
                            <%=i+1+completed+printing+inTransit+pickedUp%></span
                        >
                        <%}%>
                    </div>
                </td>
                <td>
                    <div class="d-flex flex-row flex-wrap" style="margin: -1px">
                        <%for (var i = 0; i < printing; i++) {%>
                        <span
                            class="badge font-weight-normal alert-primary"
                            style="margin: 1px"
                            >Copy <%=i+1+completed+inTransit+pickedUp%></span
                        >
                        <%}%>
                    </div>
                </td>

                <td>
                    <div class="d-flex flex-row flex-wrap" style="margin: -1px">
                        <%for (var i = 0; i < inTransit; i++) {%>
                        <span
                            class="badge font-weight-normal alert-warning"
                            style="margin: 1px"
                            >Copy <%=i+1+completed+pickedUp%></span
                        >
                        <%}%>
                    </div>
                </td>
                <td>
                    <div class="d-flex flex-row flex-wrap" style="margin: -1px">
                        <%for (var i = 0; i < completed; i++) {%>
                        <span
                            class="badge font-weight-normal alert-success"
                            style="margin: 1px"
                            >Copy <%=i+1+pickedUp%></span
                        >
                        <%}%>
                    </div>
                </td>

                <td>
                    <div class="d-flex flex-row flex-wrap" style="margin: -1px">
                        <%for (var i = 0; i < pickedUp; i++) {%>
                        <span
                            class="badge font-weight-normal alert-light"
                            style="margin: 1px"
                            >Copy <%=i+1%></span
                        >
                        <%}%>
                    </div>
                </td>
            </tbody>
        </table>

        <% if (inTransit > 0) {%>
        <hr />
        <h4>Copies Transferred to Pickup Location</h4>
        <form action="/prints/arrived" method="POST">
            <input type="hidden" name="fileID" value="<%= print._id %>" />
            <div class="row">
                <label class="col col-form-label"
                    >How many copies just arrived?</label
                >
                <div class="col-3">
                    <input
                        type="number"
                        class="form-control"
                        name="numArrived"
                        value="<%=print.completedCopies?print.completedCopies.filter(function(copy) { return copy.isInTransit}).length:0%>"
                        required
                    />
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>
        </form>
        <%}%>
        <%if (completed > 0 && (unprinted + printing + inTransit > 0)) {%>
        <hr />
        <h4>Patron Pickup Partial</h4>
        <p class="mb-3 small text-muted">This is for use when a patron wants to pick up some copies before all copies have been printed.</p>
        <form>
            <input type="hidden" name="fileID" value="<%= print._id %>" />
            <div class="row">
                <label class="col col-form-label"
                    >How many copies are being picked up?</label
                >
                <div class="col-3">
                    <input
                        type="number"
                        class="form-control"
                        name="numPickup"
                        id="pickupInput"
                        value="<%=print.completedCopies?print.completedCopies.filter(function(copy) { return (!copy.isInTransit && copy.timestampPickedUp < new Date("2000"))}).length:0%>"
                        required
                    />
                </div>

                <div class="col-auto">
                    <button
                        data-toggle="modal"
                        data-target="#modalPickup"
                        data-backdrop="static"
                        data-keyboard="false"
                        data-numpickup="<%=print.completedCopies?print.completedCopies.filter(function(copy) { return (!copy.isInTransit && copy.timestampPickedUp < new Date("2000"))}).length:0%>"
                        id="partialPickup"
                        fileName="<%=print.realFileName%>"
                        fileID="<%=print._id%>"
                        class="btn btn-primary modal-button"
                    >
                        Submit
                    </button>
                </div>
            </div>
        </form>
        <%}%>
        <%if(completed + pickedUp + inTransit > 0) {%>
            <hr>
            <h4>Printed Copies</h4>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Copy</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <%i = 1%>
                    <%for (var thisCopy of print.completedCopies) {%>
                        <tr>
                            <td>
                                Copy <%=i%>
                            </td>
                            <td>
                                <%if (thisCopy.isInTransit) {%>
                                    <span class="badge font-weight-normal alert-warning">In Transit</span>
                                <%} else if (thisCopy.timestampPrinted > thisCopy.timestampPickedUp) {%>
                                    <span class="badge font-weight-normal alert-success">Printed on <%=thisCopy.timestampPrinted.toLocaleDateString('en-US')%></span>
                                <%} else {%>
                                    <span class="badge font-weight-normal alert-light">Picked Up on <%=thisCopy.timestampPickedUp.toLocaleDateString('en-US')%></span>
                                <%}%>
                            </td>
                        </tr>
                        <%i++%>
                    <%}%>
                </tbody>
            </table>
        <%}%>
    </div>
</div>

<script>
    document.getElementById("partialPickup").onclick = function (e) {
        e.preventDefault();
    };

    document.getElementById("pickupInput").onchange = function (e) {
        console.log(e.target);
        document
            .getElementById("partialPickup")
            .setAttribute("data-numpickup", e.target.value);
    };
</script>
