<!-- prettier-ignore -->
<%if (printPage == 'newSub') { %>
    <% if (file.isReviewed) { %> 
        <% if (file.isRejected) { %>
<span class="badge font-weight-normal alert-danger">Rejected</span>
<% } else { %>
<span class="badge font-weight-normal alert-success">Accepted</span>
<% } %> <% } else { %>
<span class="badge font-weight-normal alert-primary">Unreviewed</span>
<% } %> <%}%>

<!-- prettier-ignore -->
<% if (printPage == 'pendpay' || printPage == 'pendpaystale') { %>
<span class="badge font-weight-normal alert-light"
    >Print at <%=file.printLocation%></span
>
<!-- prettier-ignore -->
<%} %>

<!-- ---------------------------- <Ready files ----------------------------- -->
<% if (printPage == 'ready') { %>
<span class="badge font-weight-normal alert-light"
    >Reviewed for <%=file.printLocation%></span
>

<%}%>
<!-- --------------------------- Printing Files ---------------------------- -->
<% /* %> <%if(printPage == 'printing') {%>
<span class="badge font-weight-normal alert-success"
    >Printing at <%=file.printingData.location%></span
>
<span class="badge font-weight-normal alert-primary"
    ><%=file.printingData.copiesPrinted%>/<%=file.copies%> printed</span
>
<%}%> <% if (printPage == 'pickup') { %>
<span class="badge font-weight-normal alert-info"
    >Pickup at <%=file.printLocation%></span
>
<%} %> <% */ %>
<!-- ----------------------------- In transit ------------------------------ -->

<% if (printPage == 'inTransit') { %>
<span class="badge font-weight-normal alert-warning"
    >In transit to <%=file.pickupLocation%></span
>
<%}%>

<!-- ------------------------------ all files ------------------------------ -->

<%if (printPage == 'all') {%> <% if (!file.isReviewed) { %>
<span class="badge font-weight-normal alert-primary">Unreviewed</span>
<% } %> <% if (file.isReadyToPrint) { %> <% if (file.isStarted) { %> <%if
(file.printingData) {%>
<span class="badge font-weight-normal alert-success"
    >Printing at <%=file.printingData.location%></span
>
<%} else {%>
<span class="badge font-weight-normal alert-success">Printing</span>
<%}%> <%} else {%>
<span class="badge font-weight-normal alert-info"
    >Print at <%=file.printLocation%></span
>
<%}%> <%}%> <%if (file.isPrinted && !file.isPickedUp) {%>
<span class="badge font-weight-normal alert-info"
    >Pickup at <%=file.printLocation%></span
>
<%}%> <%}%>

<!-- ----------------------------- always show ----------------------------- -->

<% if (file.isPendingWaive) { %>
<span class="badge font-weight-normal alert-warning">Pending Waive</span>
<% } %> <% if (file.isPendingDelete) { %>
<span class="badge font-weight-normal alert-danger">Pending Delete</span>
<% } %>
