<!-- prettier-ignore -->
<%if (printPage == 'newSub') { %>
    <% if (file.isReviewed) { %> 
        <% if (file.isRejected) { %>
<span class="badge font-weight-normal alert-danger">Rejected</span>
<% } else { %>
<span class="badge font-weight-normal alert-success">Accepted</span>
<% } %> <% } else { %>
<span class="badge font-weight-normal alert-primary">Unreviewed</span>
<% } %> <%}%>

<!-- prettier-ignore -->
<% if (printPage == 'pendpay' || printPage == 'pendpaystale') { %>
<span class="badge font-weight-normal alert-light"
    >Print at <%=file.printLocation%></span
>
<!-- prettier-ignore -->
<%} %>

<% if (printPage == 'ready') { %>
    <% if (file.isStarted) { %> <%if (file.printingData) {%>
<span class="badge font-weight-normal alert-success"
    >Printing at <%=file.printingData.location%></span
>
<%} else {%>
<span class="badge font-weight-normal alert-success">Printing</span>
<%}%> <%} else {%>
<span class="badge font-weight-normal alert-info"
    >Print at <%=file.printLocation%></span
>
<%}%>

<span class="badge font-weight-normal alert-primary"
    ><%=file.printingData.copiesPrinted || 0%>/<%=file.copies%> printed</span
>

<%}%> <% if (printPage == 'pickup') { %>
<span class="badge font-weight-normal alert-info"
    >Pickup at <%=file.printLocation%></span
>
<!-- prettier-ignore -->
<%} %>

<% if (printPage == 'inTransit') { %>
<span class="badge font-weight-normal alert-warning"
    >In transit to <%=file.pickupLocation%></span
>
<!-- prettier-ignore -->
<%}%>

<%if (printPage == 'all') {%>
    <% if (!file.isReviewed) { %>
<span class="badge font-weight-normal alert-primary">Unreviewed</span>
<% } %> <% if (file.isReadyToPrint) { %> <% if (file.isStarted) { %> <%if
(file.printingData) {%>
<span class="badge font-weight-normal alert-success"
    >Printing at <%=file.printingData.location%></span
>
<%} else {%>
<span class="badge font-weight-normal alert-success">Printing</span>
<%}%> <%} else {%>
<span class="badge font-weight-normal alert-info"
    >Print at <%=file.printLocation%></span
>
<%}%> <%}%> <%if (file.isPrinted && !file.isPickedUp) {%>
<span class="badge font-weight-normal alert-info"
    >Pickup at <%=file.printLocation%></span
>
<%}%> <%}%>

<!-- ----------------------------- always show ----------------------------- -->

<% if (file.isPendingWaive) { %>
<span class="badge font-weight-normal alert-warning">Pending Waive</span>
<% } %> <% if (file.isPendingDelete) { %>
<span class="badge font-weight-normal alert-danger">Pending Delete</span>
<% } %> <% if (file.dateOfConfiscation != 'Not yet sent') {%>
<span class="badge font-weight-normal alert-danger">Reposessed</span>
<% } else if (file.dateOfSecondWarning != 'Not yet sent') { %>
<span class="badge font-weight-normal alert-warning">Final Warning</span>
<% } else if (file.dateOfFirstWarning != 'Not yet sent') {%>
<span class="badge font-weight-normal alert-warning">First Warning</span>
<% } %>
