<style>
    .number {
        font-size: 1.3em;
    }

    .number span {
        font-weight: bold;
    }

    .plus-minus {
        line-height: 0.8em;
        font-size: 2em;
    }
    .plus-minus svg {
        width: 0.8em;
        height: 0.8em;
        vertical-align: top;
    }
</style>
<div class="card shadow mb-3">
    <div class="card-body">
        <%if (print.isStarted) {%>
        <h4 class="text-success">File is currently printing!</h4>
        <%} else {%>
        <h4>File is not currently printing</h4>
        <%}%>
        <div class="row">
            <div class="col">
                <button
                    type="button "
                    class="btn btn-info btn-block mb-3"
                    id="startButton"
                    style='font-size: 1.3em; display: <%= print.isStarted ? "none" : "block" %>'
                >
                    Start Printing?
                </button>
                <div
                    class="btn-group w-100 mb-3"
                    role="group"
                    aria-label="Basic example"
                >
                    <!-- prettier-ignore -->
                    <button
                        type="button"
                        class="btn <%if(!print.isStarted){%>btn-light<%}else{%>btn-info<%}%> plus-minus"
                        id="subPrinting"
                        <%if(!print.isStarted){%>disabled<%}%>
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-dash"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"
                            />
                        </svg>
                    </button>
                    <div
                        class="btn <%if(!print.isStarted){%>btn-light<%}else{%>btn-info<%}%> number <%if(!print.isStarted){%>disabled<%}%>"
                    >
                        <span id="numPrinting"></span> printing
                    </div>
                    <!-- prettier-ignore -->
                    <button
                        type="button"
                        class="btn <%if(!print.isStarted){%>btn-light<%}else{%>btn-info<%}%> plus-minus "
                        id="addPrinting"
                        <%if(!print.isStarted){%>disabled<%}%>
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-plus"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                            />
                        </svg>
                    </button>
                </div>

                <div
                    class="row"
                    style='display: <%= print.isStarted ? "flex" : "none" %>'
                >
                    <div class="col-6">
                        <button
                            type="button"
                            class="btn btn-danger btn-block"
                            id="failPrint"
                        >
                            Fail
                        </button>
                        <p class="small text-muted">
                            Stop print without adding completed copies
                        </p>
                    </div>
                    <div class="col-6">
                        <button
                            type="button"
                            class="btn btn-success btn-block"
                            id="successPrint"
                        >
                            Success
                        </button>
                        <p class="small text-muted">
                            Add this many completed copies
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div
                    class="btn-group w-100 mb-3"
                    role="group"
                    aria-label="Basic example"
                >
                    <button
                        type="button"
                        class="btn btn-info plus-minus"
                        id="subPrinted"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-dash"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"
                            />
                        </svg>
                    </button>
                    <div class="btn btn-info number">
                        <span id="numPrinted"></span> completed
                    </div>
                    <button
                        type="button"
                        class="btn btn-info plus-minus"
                        id="addPrinted"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-plus"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                            />
                        </svg>
                    </button>
                </div>
                <p class="mb-0">
                    File currently needs
                    <strong id="numNeeded"></strong>
                    more copies printed to be complete.
                    <small class="text-muted"
                        >This includes the number of copies currently
                        printing</small
                    >
                </p>
            </div>

            <div class="col-12">
                <hr />
                <!-- prettier-ignore -->
                <button
                    type="button"
                    data-toggle="modal"
                    data-target="#modalPrintFinish"
                    data-backdrop="static"
                    data-keyboard="false"
                    <% if (print.isStarted) { %>
                    class="btn btn-block btn-secondary" disabled 
                    <%} else { %>
                    class="btn btn-block btn-success" 
                    <%}%> 
                > <% if (print.isStarted) {%>
                    Please complete the current print before notifying the
                    patron! <%} else { %> Notify patron file complete? <%}%>
                </button>
                <% if (!print.isStarted){%>
                <p class="small text-muted">
                    Make sure all the requested copies have been printed. You'll
                    enter the final weight and location in the next step
                </p>
                <%}%>
            </div>
        </div>
    </div>
</div>

<script>
    var localPrinting, localPrinted, localNeeded, copiesTotal;
    localPrinting = `<%=(print.copiesPrinting > 0 ? print.copiesPrinting : 0)%>`;
    localPrinted = `<%=(print.copiesPrinted > 0 ? print.copiesPrinted : 0)%>`;
    copiesTotal = `<%= print.copies %>`;

    localPrinting = parseInt(localPrinting);
    localPrinted = parseInt(localPrinted);
    copiesTotal = parseInt(copiesTotal);

    var fileID = `<%= print._id %>`;
    console.log(fileID);

    localNeeded = copiesTotal - (localPrinted + localPrinting);
    document.getElementById("numPrinted").innerHTML = localPrinted;
    document.getElementById("numPrinting").innerHTML = localPrinting;
    document.getElementById("numNeeded").innerHTML = localNeeded;

    function updateValues() {
        localNeeded = copiesTotal - (localPrinted + localPrinting);
        document.getElementById("numPrinted").innerHTML = localPrinted;
        document.getElementById("numPrinting").innerHTML = localPrinting;
        document.getElementById("numNeeded").innerHTML = localNeeded;

        $.ajax({
            type: "POST",
            url: "/prints/changeCopies",
            data: {
                fileID: fileID,
                copiesPrinting: localPrinting,
                copiesPrinted: localPrinted,
            },
            dataType: "json",
        }).done(function () {
            console.log("updated");
        });
    }

    document.getElementById("subPrinting").onclick = function () {
        localPrinting--;
        updateValues();
    };
    document.getElementById("addPrinting").onclick = function () {
        localPrinting++;
        updateValues();
    };
    document.getElementById("subPrinted").onclick = function () {
        localPrinted--;
        updateValues();
    };
    document.getElementById("addPrinted").onclick = function () {
        localPrinted++;
        updateValues();
    };

    document.getElementById("startButton").onclick = function () {
        $.ajax({
            type: "POST",
            url: "/prints/startprint",
            data: {
                fileID: fileID,
            },
            dataType: "json",
        }).done(function () {
            location.reload();
        });
    };

    document.getElementById("failPrint").onclick = function () {
        $.ajax({
            type: "POST",
            url: "/prints/printfail",
            data: {
                fileID: fileID,
            },
            dataType: "json",
        }).done(function () {
            location.reload();
        });
    };
    document.getElementById("successPrint").onclick = function () {
        $.ajax({
            type: "POST",
            url: "/prints/printsuccess",
            data: {
                fileID: fileID,
                copiesPrinting: localPrinting,
            },
            dataType: "json",
        }).done(function () {
            location.reload();
        });
    };
</script>
