<style>
    .icon-button {
        padding: 0px;
        line-height: 1em;
        font-size: 2em;
    }
    .icon-button svg {
        width: 1em;
        height: 1em;
        vertical-align: top;
    }

    .number {
        font-size: 1.5em;
    }

    .btn-group .btn-danger {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .btn-group .btn-success {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }
</style>

<div class="card shadow mb-3">
    <div class="card-body">
        <%if (print.isStarted) {%>
        <h3 class="text-success">File is currently printing!</h3>
        <%} else {%>
        <h3>File is not currently printing</h3>
        <%}%>
        <div class="row my-3">
            <div
                class="col-12 text-center d-flex align-items-center justify-content-between"
            >
                <button
                    type="button"
                    class="btn btn-secondary icon-button"
                    style='display: <%= print.isStarted ? "block" : "none" %>'
                    id="subPrinting"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-dash"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"
                        />
                    </svg>
                </button>
                <div
                    class="number"
                    style='display: <%= print.isStarted ? "block" : "none" %>'
                >
                    <span id="numPrinting"></span> copies printing
                </div>
                <button
                    type="button"
                    style='display: <%= print.isStarted ? "block" : "none" %>'
                    class="btn btn-secondary icon-button"
                    id="addPrinting"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-plus"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                        />
                    </svg>
                </button>
                <button
                    type="button"
                    class="btn btn-success btn-block"
                    id="startButton"
                    style='display: <%= print.isStarted ? "none" : "block" %>'
                >
                    Start Printing?
                </button>
            </div>
            <div class="col-12">
                <hr />
            </div>
            <div class="col-12">
                <p>
                    File currently needs
                    <strong id="numNeeded"></strong>
                    more copies printed to be complete. (This includes the
                    number of copies currently printing)
                </p>
                <div
                    class="row"
                    style='display: <%= print.isStarted ? "flex" : "none" %>'
                >
                    <div class="col">
                        <button
                            type="button"
                            class="btn btn-danger btn-block"
                            id="failPrint"
                        >
                            Print Failed
                        </button>
                        <p class="small text-muted">
                            This will mark the print stopped, but will not add
                            any completed copies
                        </p>
                    </div>
                    <div class="col">
                        <button
                            type="button"
                            class="btn btn-success btn-block"
                            id="successPrint"
                        >
                            Print Completed
                        </button>
                        <p class="small text-muted">
                            This will mark the print stopped, and will add this
                            many completed copies
                        </p>
                    </div>
                </div>
                <!-- prettier-ignore -->
                <button
                    type="button"
                    data-toggle="modal"
                    data-target="#modalPrintFinish"
                    data-backdrop="static"
                    data-keyboard="false"
                    <% if (print.isStarted) { %>
                    class="btn btn-block btn-secondary" disabled 
                    <%} else { %>
                    class="btn btn-block btn-success" 
                    <%}%> 
                > <% if (print.isStarted) {%>
                    Please complete the current print before notifying the
                    patron! <%} else { %> Notify patron file complete? <%}%>
                </button>
                <% if (!print.isStarted){%>
                <p class="small text-muted">
                    Make sure all the requested copies have been printed.
                    Clicking this button will send an email to the patron that
                    their files are ready for pickup!
                </p>
                <%}%>
            </div>
            <div class="col-12">
                <hr />
            </div>

            <div
                class="col-12 text-center d-flex align-items-center justify-content-between"
            >
                <button
                    type="button"
                    class="btn btn-secondary icon-button"
                    id="subPrinted"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-dash"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"
                        />
                    </svg>
                </button>
                <div class="number">
                    <span id="numPrinted"></span> copies completed
                </div>
                <button
                    type="button"
                    class="btn btn-secondary icon-button"
                    id="addPrinted"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-plus"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                        />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var localPrinting, localPrinted, localNeeded, copiesTotal;
    localPrinting = `<%=(print.copiesPrinting > 0 ? print.copiesPrinting : 0)%>`;
    localPrinted = `<%=(print.copiesPrinted > 0 ? print.copiesPrinted : 0)%>`;
    copiesTotal = `<%= print.copies %>`;

    localPrinting = parseInt(localPrinting);
    localPrinted = parseInt(localPrinted);
    copiesTotal = parseInt(copiesTotal);

    var fileID = `<%= print._id %>`;
    console.log(fileID);

    localNeeded = copiesTotal - (localPrinted + localPrinting);
    document.getElementById("numPrinted").innerHTML = localPrinted;
    document.getElementById("numPrinting").innerHTML = localPrinting;
    document.getElementById("numNeeded").innerHTML = localNeeded;

    function updateValues() {
        localNeeded = copiesTotal - (localPrinted + localPrinting);
        document.getElementById("numPrinted").innerHTML = localPrinted;
        document.getElementById("numPrinting").innerHTML = localPrinting;
        document.getElementById("numNeeded").innerHTML = localNeeded;

        $.ajax({
            type: "POST",
            url: "/prints/changeCopies",
            data: {
                fileID: fileID,
                copiesPrinting: localPrinting,
                copiesPrinted: localPrinted,
            },
            dataType: "json",
        }).done(function () {
            console.log("updated");
        });
    }

    document.getElementById("subPrinting").onclick = function () {
        localPrinting--;
        updateValues();
    };
    document.getElementById("addPrinting").onclick = function () {
        localPrinting++;
        updateValues();
    };
    document.getElementById("subPrinted").onclick = function () {
        localPrinted--;
        updateValues();
    };
    document.getElementById("addPrinted").onclick = function () {
        localPrinted++;
        updateValues();
    };

    document.getElementById("startButton").onclick = function () {
        $.ajax({
            type: "POST",
            url: "/prints/startprint",
            data: {
                fileID: fileID,
            },
            dataType: "json",
        }).done(function () {
            location.reload();
        });
    };

    document.getElementById("failPrint").onclick = function () {
        $.ajax({
            type: "POST",
            url: "/prints/printfail",
            data: {
                fileID: fileID,
            },
            dataType: "json",
        }).done(function () {
            location.reload();
        });
    };
    document.getElementById("successPrint").onclick = function () {
        $.ajax({
            type: "POST",
            url: "/prints/printsuccess",
            data: {
                fileID: fileID,
                copiesPrinting: localPrinting,
            },
            dataType: "json",
        }).done(function () {
            location.reload();
        });
    };
</script>
