<form action="/prints/singleReview" method="post" enctype="multipart/form-data">
    <div class="hiddenExtras" style="display: none">
        <input type="text" name="fileID" value="<%= print._id%>" />
    </div>

    <div class="form-group">
        <div class="form-row">
            <label class="col-3 col-form-label">Review Descision</label>
            <div class="col">
                <select
                    class="form-control"
                    id="decision"
                    name="decision"
                    required
                >
                    <%if (print.isRejected) {%>
                    <option value="rejected">Rejected</option>
                    <option value="accepted">Accepted</option>

                    <%} else {%>
                    <option value="accepted">Accepted</option>
                    <option value="rejected">Rejected</option>
                    <%}%>
                </select>
            </div>
        </div>
    </div>
    <div class="accepted-controls">
        <hr />
        <div class="form-group">
            <label class="mb-0">Estimated Time and Weight</label>
            <label class="small text-muted"
                >Total weight and duration will be calculated based on
                estimations for the given number of copies.</label
            >
            <div class="form-row mb-3">
                <div class="col">
                    <div class="form-row">
                        <div class="col mb-2">
                            <label class="text-muted">Hours</label>
                            <input
                                type="number"
                                id="hoursInput"
                                class="form-control"
                                name="hours"
                                placeholder="Hours"
                                value="<%=print.estimations.slicedHours || 0%>"
                                required
                            />
                        </div>
                        <div class="col">
                            <label class="text-muted">Minutes</label>

                            <input
                                type="number"
                                id="minutesInput"
                                class="form-control"
                                name="minutes"
                                placeholder="Minutes"
                                value="<%=print.estimations.slicedMinutes || 0%>"
                                required
                            />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group">
                                <input
                                    type="number"
                                    id="gramsInput"
                                    class="form-control"
                                    name="grams"
                                    placeholder="Weight"
                                    value="<%=print.estimations.slicedGrams || 0%>"
                                    required
                                />
                                <div class="input-group-append">
                                    <span class="input-group-text">g</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto d-flex flex-column">
                    <label>&nbsp;</label>
                    <svg
                        style="
                            width: 2em;
                            height: 2em;
                            vertical-align: text-top;
                        "
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-x"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                        />
                    </svg>
                </div>

                <div class="col-4">
                    <label class="text-muted">Copies</label>
                    <input
                        type="number"
                        id="copiesInput"
                        class="form-control"
                        name="copies"
                        placeholder="Copies"
                        value="<%= print.estimations.slicedCopies || 0%>"
                        required
                    />
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input
                        type="number"
                        name="totalHours"
                        readonly
                        class="form-control"
                        id="totalHours"
                        value="0"
                    />
                    <label>Total Hours</label>
                </div>
                <div class="col">
                    <input
                        type="number"
                        name="totalMinutes"
                        readonly
                        class="form-control"
                        id="totalMinutes"
                        value="0"
                    />
                    <label>Total Minutes</label>
                </div>
                <div class="col">
                    <input
                        type="number"
                        name="totalGrams"
                        readonly
                        class="form-control"
                        id="totalGrams"
                        value="0"
                    />
                    <label>Total Grams</label>
                </div>
            </div>
        </div>
        <hr />
        <div class="mb-2">
            <div class="form-row">
                <label class="col-3 col-form-label">Print Location</label>
                <div class="col">
                    <select
                        class="form-control"
                        id="locationSelector"
                        name="printLocation"
                        required
                    >
                        <!-- prettier-ignore -->
                        <% if (print.isReviewed) { %>
                        <!-- prettier-ignore -->

                        <% if (print.printLocation == "Willis Library") { %>
                        <option value="Willis Library">Willis Library</option>
                        <option value="Discovery Park">Discovery Park</option>
                        <%} else {%>
                        <option value="Discovery Park">Discovery Park</option>
                        <option value="Willis Library">Willis Library</option>
                        <%}%>
                        <!-- prettier-ignore -->

                        <% } else {%>
                        <!-- prettier-ignore -->

                        <% if (print.pickupLocation == "Willis Library") { %>
                        <option value="Willis Library">Willis Library</option>
                        <option value="Discovery Park">Discovery Park</option>
                        <%} else {%>
                        <option value="Discovery Park">Discovery Park</option>
                        <option value="Willis Library">Willis Library</option>
                        <%}%> <% } %>
                    </select>
                </div>
            </div>
        </div>

        <div class="mb-2">
            <div class="form-row">
                <label class="col-3 col-form-label">Slicing Details</label>
                <div class="col">
                    <select
                        class="form-control"
                        id="slicedPrinter"
                        name="printer"
                        required
                    >
                        <option>Ender 5 Pro</option>
                        <option>Ender 3</option>
                        <option>Prusa i3 MK3</option>
                        <option>PolyPrinter 229</option>
                        <option>Other (write in technician notes)</option>
                    </select>
                </div>
                <div class="col">
                    <input
                        type="text"
                        class="form-control"
                        name="material"
                        placeholder="Sliced for material..."
                        required
                    />
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-row">
                <label class="col-3 col-form-label">GCODE File</label>
                <div class="col">
                    <div class="custom-file" id="customFile" lang="es">
                        <input
                            name="uploadedFile"
                            type="file"
                            class="custom-file-input"
                            id="exampleInputFile"
                            aria-describedby="fileHelp"
                            ata-toggle="popover"
                            data-placement="right"
                            data-trigger="focus"
                            data-content="File must be a GCODE file!"
                            required
                        />
                        <label class="custom-file-label" for="exampleInputFile">
                            Upload GCODE
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <hr />

        <div class="form-group">
            <label for="technotes">Technician Notes</label>
            <textarea
                name="technotes"
                placeholder="These are internal notes for other team members, and will not be sent to the patron. It might be helpful to include details on how you sliced this file!"
                class="form-control"
                rows="5"
            ></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="patronNotes">Notes to Patron</label>
        <!-- prettier-ignore -->
        <textarea
            name="patronNotes"
            placeholder="This is what will be sent to the patron."
            class="form-control"
            rows="5"
        ><%= print.patronNotes%></textarea>
    </div>

    <button type="submit" class="btn btn-block btn-success submit-btn">
        Submit
    </button>
</form>

<script>
    var totalHours = 0,
        totalMinutes = 0,
        totalGrams = 0;
    var inputHours = 0,
        inputMinutes = 0,
        inputGrams = 0,
        inputCopies = 1;
    var requestedCopies = `<%=print.copies%>`;
    document.getElementById("hoursInput").onchange = function (e) {
        inputHours = e.target.value;
        calcTotal();
    };
    document.getElementById("minutesInput").onchange = function (e) {
        inputMinutes = e.target.value;
        calcTotal();
    };
    document.getElementById("gramsInput").onchange = function (e) {
        inputGrams = e.target.value;
        calcTotal();
    };
    document.getElementById("copiesInput").onchange = function (e) {
        inputCopies = e.target.value;
        calcTotal();
    };

    function calcTotal() {
        inputCopies = document.getElementById("copiesInput").value || 0;
        inputHours = document.getElementById("hoursInput").value || 0;
        inputMinutes = document.getElementById("minutesInput").value || 0;
        inputGrams = document.getElementById("gramsInput").value || 0;

        totalGrams = (inputGrams / inputCopies) * requestedCopies;
        var rawMultHours = (inputHours / inputCopies) * requestedCopies;
        var rawMultMinutes = (inputMinutes / inputCopies) * requestedCopies;

        var extraHours = Math.floor(rawMultMinutes / 60);
        var remainingMinutes = rawMultMinutes % 60;
        totalHours = rawMultHours + extraHours;
        totalMinutes = remainingMinutes;

        document.getElementById("totalHours").value = totalHours;
        document.getElementById("totalMinutes").value = totalMinutes;
        document.getElementById("totalGrams").value = totalGrams;
    }
</script>
