<div class="shadow alert alert-info">
    <h4>Request Details</h4>
    <p class="mb-0">
        <strong>Filename:</strong> <a href="#" class="download-btn" id='<%= print.fileName%>'><%=print.fileName.substring(print.fileName.indexOf('/15') + 11)%></a> <br>
        <strong>Requested material:</strong> <%=print.material%> <br>
        <strong>Requested infill:</strong> <%=print.infill%> <br>
        <strong>Requested color:</strong> <%=print.color%> <br>
        <strong>Requested copies:</strong> <%=print.copies%> <br>
        <strong>Pickup location:</strong> <%=print.pickupLocation%> <br>
    </p>
</div>