<div class="shadow card">
    <div class="card-body">
        <div class="row row-cols-4">
            <div class="col-12">
                <h3>
                    <a
                        href='<%="/prints/download?fileID=" +  print.fileName.replace("#", "%23")%>'
                        ><%=print.realFileName%></a
                    >
                </h3>
                <p class="lead">
                    Pickup at: <strong><%=print.pickupLocation%></strong>
                </p>
                <p>"<%=print.notes%>"</p>
            </div>
            <div class="col">
                <h5>Color</h5>
                <%=print.color%>
            </div>
            <div class="col">
                <h5>Material</h5>
                <%=print.material%>
            </div>
            <div class="col">
                <h5>Infill</h5>
                <%=print.infill%>
            </div>
            <div class="col">
                <h5>Copies</h5>
                <%=print.copies%>
            </div>
            <% if (print.isReviewed && !print.isRejected) {%>
            <div class="col-12">
                <hr />
            </div>

            <div class="col col-12">
                <h4>
                    Approved by <%=print.approvedBy%> on
                    <%=print.timestampReviewed.toLocaleDateString('en-US');%>
                </h4>
                <p>"<%=print.patronNotes%>"</p>
            </div>
            <div class="col-12">
                <h5>
                    <a
                        href='<%="/prints/download?fileID=" +  print.fileName.replace("#", "%23")%>'
                        ><%=print.realGcodeName%></a
                    >
                </h5>
                <p class="lead">
                    This GCODE file contains [#] copies of this object!
                </p>
            </div>
            <div class="col">
                <h5>Printer</h5>
                <%=print.slicedPrinter%>
            </div>
            <div class="col">
                <h5>Material</h5>
                <%=print.slicedMaterial%>
            </div>
            <div class="col">
                <h5>Time</h5>
                <%=print.timeHours%>h <%=print.timeMinutes%>m
            </div>
            <div class="col">
                <h5>Weight</h5>
                <%=print.grams%>g
            </div>
            <div class="col-6"></div>
            <div class="col-6">
                <p class="small text-muted">
                    These estimates are for [#] copies
                </p>
            </div>

            <% } %>
        </div>
    </div>
</div>
