<div class="shadow alert print-card <%if (!print.isRejected) {%>alert-primary<%} else {%> alert-danger<%}%>">
    <h4>Review Details</h4>
    <p>
        <strong>Reviewed by:</strong> <span class="data"><%=print.approvedBy%></span> <br />
        <strong>Reviewed on:</strong> <span class="data"><%=print.dateReviewed%></span> <br />
        <strong>Review Notes:</strong> <span class="data"><%=print.patronNotes%></span> <br />
        <%if (print.wasStarted) { %>
        <strong>Started by:</strong>  <span class="data"><%=print.startedBy%></span> <%}%>
    </p>
    <%if (!print.isRejected) {%>
    <hr />
    <p>
        <strong>GCODE Filename:</strong>
        <span class="data"><a href="#" class="download-btn" id="<%= file%>"
            ><%=print.realGcodeName%></a
        ></span>
        <br />
        <strong>Sliced for printer:</strong> <span class="data"><%=print.slicedPrinter%></span> <br />
        <strong>Sliced for material:</strong> <span class="data"><%=print.slicedMaterial%></span> <br />
        <strong>Print Location: </strong> <span class="data"><%=print.printLocation%> &nbsp;
        <span class="icon-btn" data-toggle="tooltip" data-placement="top" title="Change Location">
            <svg
                class="bi bi-arrow-left-right change-btn"
                fileID="<%=print._id%>"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    fill-rule="evenodd"
                    d="M10.146 7.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 11l-2.647-2.646a.5.5 0 0 1 0-.708z"
                />
                <path
                    fill-rule="evenodd"
                    d="M2 11a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 11zm3.854-9.354a.5.5 0 0 1 0 .708L3.207 5l2.647 2.646a.5.5 0 1 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"
                />
                <path fill-rule="evenodd" d="M2.5 5a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </span>
    </p>
    <hr />
    <p class="mb-0">
        <strong>Print time estimate: </strong> <span class="data"><%= print.timeHours%> hours, <%= print.timeMinutes%> minutes</span> <br />
        <strong>Print weight estimate: </strong> <span class="data"><%= print.grams%> grams</span>
    </p>
    <%if (print.isPrinted) {%>
        <p class="mb-0">
            <strong>Actual print weight: </strong> <span class="data"><%= print.realGrams%> grams</span>
        </p>
    <%}%>
    <%} else {%>
    <p class="mb-0"><strong>Status: </strong> <span class="data">Rejected</span><br /></p>
    <%}%>
</div>
