<div class="shadow alert alert-warning status-card">

    <% if (print.isStarted) {%>
        <p class="copiesPrinting" numCopiesPrinting="<%=print.copiesPrinting%>"
            <strong>Currently printing:</strong> <%=print.copiesPrinting%> <br />
        </p>
        
        <div class="row">
            <div class="col">
                <button
                    type="button"
                    class="btn btn-success btn-block print-success"
                    fileID="<%=print._id%>"
                >
                    Print Completed
                </button>
            </div>
            <div class="col">
                <button
                    type="button"
                    class="btn btn-danger btn-block print-fail"
                    fileID="<%=print._id%>"
                >
                    Print Failed
                </button>
            </div>
        </div>
    <%} else {%>
        <form class="form">
            <div class="form-row">
                <div class="col">
                    <label class="sr-only" for="inlineFormInputName2">Num Copies</label>
                    <input type="number" min="1" step="1" value="1" class="form-control mb-2 mr-sm-2" id="inlineFormInputCopies" name="copiesPrinting">
                </div class="col-md-auto">
                    <button type="submit" class="btn btn-warning mb-2 markCopiesPrinting" fileID="<%=print._id%>">Start printing this many copies</button>
                <div>
                    
                </div>
            </div>
            
            
        </form>
    <%}%>

    <p>
        <strong>Attempts</strong> <span class="data"><%=print.numAttempts%></span> <br />
        <strong>Failed attempts</strong> <span class="data"><%=print.numFailedAttempts%></span> <br />
        <strong>Copies Printed</strong> <span class="data"><%=print.copiesPrinted%></span>
    </p>
    <% if (!print.isStarted) {%>
        <button
            type="button"
            class="btn btn-lg btn-warning btn-block markCompleted"
            data-toggle="collapse" data-target="#gramsCollapse" aria-expanded="false" aria-controls="gramsCollapse"
        >
            Print Complete?
        </button>
        
        <div class="collapse" id="gramsCollapse">
            <p class="mt-3">Please make sure you have printed as many copies as the patron requested.</p>
            <form class="form">
                <div class="form-row">
                    <div class="col">
                        <label class="sr-only" for="inlineFormInputName2">Actual Print Weight: </label>
                        <input placeholder="Actual Print Weight (grams)" type="number" min="0" class="form-control" id="inlineFormRealGrams" name="realGrams" required>
                    </div>
                    <div class="col-md-auto">
                        <button type="button" class="btn btn-warning mb-2 submitRealGrams" fileID="<%=print._id%>">Confirm</button>
                    </div>
                </div>
                
            </form>
        </div>

        
    <%}%>
    

<!--    
        <h4>Attempts</h4>
    <% if (!print.isStarted) {%> <% if (print.numAttempts != 0) {%>
    <p>
        <strong>Attempts</strong> <%=print.numAttempts%> <br />
        <strong>Failed attempts</strong> <%=print.numFailedAttempts%>
    </p>
    <%}%> <%if (print.isPrinted) {%>
    <hr />
    <p class="mb-0 text-center">
        Print succeeded on attempt number <%=print.numAttempts%>
    </p>
    <%} else {%>
    <button
        type="button"
        class="btn btn-lg btn-warning btn-block start-print"
        fileID="<%=print._id%>"
    >
        Mark Printing Started!
    </button>
    <%}%> <% } else { %>
    <p>
        <strong>Current attempt number</strong> <%=print.numAttempts%> <br />
        <strong>Failed attempts</strong> <%=print.numFailedAttempts%>
    </p>
    <div class="row">
        <div class="col">
            <button
                type="button"
                class="btn btn-success btn-block print-success"
                fileID="<%=print._id%>"
            >
                Print Completed
            </button>
        </div>
        <div class="col">
            <button
                type="button"
                class="btn btn-danger btn-block print-fail"
                fileID="<%=print._id%>"
            >
                Print Failed
            </button>
        </div>
    </div>
    <%}%>
    -->
    
</div>
